<div class="login-container">
  <div class="login-card">
    <h2>Welcome Back To MyPic</h2>
    <p>Please login to continue</p>

    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">

      <div class="input-group">
        <label>Email</label>
        <input type="email" formControlName="email" placeholder="Enter your email" />
        <small class="error" *ngIf="loginForm.controls['email'].touched && loginForm.controls['email'].invalid">
          Valid email is required
        </small>
      </div>

      <div class="input-group">
        <label>Password</label>
        <input type="password" formControlName="password" placeholder="Enter your password" />
        <small class="error" *ngIf="loginForm.controls['password'].touched && loginForm.controls['password'].invalid">
          Password is required (min 6 chars)
        </small>
      </div>

      <button type="submit" class="btn-primary" [disabled]="loginForm.invalid">
        Login
      </button>

      <div class="divider">
        <span>OR</span>
      </div>

      <div id="google-btn-wrapper" style="display: flex; justify-content: center; margin-bottom: 1rem;"></div>

      <button type="button" class="btn-secondary" (click)="goToSignup()">
        Create Account
      </button>

      <div class="auth-footer">
        <p>Developed by <span class="dev-name">Harsh Jha</span></p>
        <p class="version">v0.0.0</p>
      </div>

    </form>
  </div>
</div>